@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Keys Onboarding</h1>
    <p class="lead text-center text-info">Welcome to the Keys Onboarding Project</p>
</div>

